@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Antic Didone', serif;
}

.Intro{
    @apply w-full h-screen flex flex-col justify-center items-center text-center ;
}

.Intro h1{
    font-size: 8rem;
    line-height: 8rem;
}

.DownloadBtn{
    @apply bg-black text-white rounded-lg h-12 w-28 transition ;
}
.DownloadBtn:hover{
    @apply border-black border-2 text-black bg-white;
}

.MenuItems{
    @apply flex justify-around items-center gap-6 font-bold relative ;
}
.MenuItems li {
    position: relative;
}
.MenuItems li a::after{
    content: " ";
    position:  absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: black;
    transition: .5s;
}

.MenuItems li a:hover:after{
    width: 100%;
}

.ProjectSection{
    @apply w-8/12 h-full border rounded-lg cursor-pointer relative  ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    overflow: auto;
}
.ProjectSection > span{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , .3);
    transition: .4s;
}
.ProjectSection:hover > span{
   height: 100%;
}

.ProjectsItems{
    @apply w-full h-full text-center py-1 cursor-pointer ;
}

.ProjectsItems::after{
    @apply rounded-lg;
    content: " ";
    width: 0%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: -1;
    
}

.ProjectsItems:hover:after , .ProjectsItems.active:after {
   width: 100%;
}

.ProjectsItems:hover ,  .ProjectsItems.active{
   color: white;
}

.Thanks{
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;

}